# Simulating Data

Let's start by importing the necessary packages for our simulation. This will include pandas, numpy, random, and datetime.

In [10]:
import pandas as pd
import numpy as np
import random
import datetime

How many records do you want to simulate? I suggest somewhere between 500-2,500!

In [2]:
num_records = 20

Here are some of the details about our games, including the game #, game date, and what time the game is played. Let's put them in lists to be used in our later dataframe.
| Game # | Date           | Time    |
|--------|----------------|---------|
| Game 1 | Aug 29, 2024 | 7 pm    |
| Game 2 | Sept 7, 2024 | 7:30 pm |
| Game 3 | Sep 14, 2024 |  noon |
| Game 4 | Sep 21, 2024 |  noon |
| Game 5 | Sep 28, 2024 | noon  |
| Game 6 | Oct 5, 2024  |  noon  |
| Game 7 | Oct 12, 2024  |  8 pm  |
| Game 8 | Oct 19, 2024  |  3:30 pm  |
| Game 9 |  Nov 2, 2024  |  noon  |
| Game 10 |  Nov 9, 2024 |   3:30 pm   |
| Game 11 |  Nov 21, 2024  |   7:30 pm  |
| Game 12 |  Nov 30, 2024 |  7:30 pm  |
| Game 13 |  Dec 7, 2024  |  noon  |

In [11]:
# Event Names
event_names = [f"Game {i}" for i in range(1, 14)]

# Event Dates
dates = [
    datetime.date(2024, 8, 29),
    datetime.date(2024, 9, 7),
    datetime.date(2024, 9, 14),
    datetime.date(2024, 9, 21),
    datetime.date(2024, 9, 28),
    datetime.date(2024, 10, 5),
    datetime.date(2024, 10, 12),
    datetime.date(2024, 10, 19),
    datetime.date(2024, 11, 2),
    datetime.date(2024, 11, 9),
    datetime.date(2024, 11, 21),
    datetime.date(2024, 11, 30),
    datetime.date(2024, 12, 7),
]

# Event Times
times = [
    datetime.time(19, 0),  # 7:00 PM
    datetime.time(19, 30), # 7:30 PM
    datetime.time(12, 0), # 12:00 PM
    datetime.time(12, 0), # 12:00 PM
    datetime.time(12, 0), # 12:00 PM
    datetime.time(12, 0), # 12:00 PM
    datetime.time(20, 0), # 8:00 PM
    datetime.time(15, 30), # 3:30 PM
    datetime.time(12, 0), # 12:00 PM
    datetime.time(15, 30), # 3:30 PM
    datetime.time(19, 30), # 7:30 PM
    datetime.time(19, 30), # 7:30 PM
    datetime.time(12, 0), # 12:00 PM
]

Let's start to randomize ticket sales. Some of the details we want to capture are:
* What part of the arena were the tickets purchased for?
* How much was paid for each ticket?
* How many tickets were purchased together?
* Was there a promotion on tickets?

In [12]:

# Seat Location
seat_locations = ['Upper Deck', 'Lower Bowl', 'VIP']
seat_location = np.random.choice(seat_locations, num_records)

# Ticket Prices based on seat location
price_map = {'Upper Deck': 30, 'Lower Bowl': 70, 'VIP': 150}
ticket_prices = [price_map[loc] + np.random.normal(0, 5) for loc in seat_location]

# Number of Tickets sold
num_tickets = np.random.randint(1, 8, num_records)

# Team Performance (simple metric, e.g., a score out of 100)
#team_performance = np.random.randint(50, 100, num_records)

# Promotion indicator (binary)
promotions = np.random.choice([0, 1], num_records, p=[0.8, 0.2])

Since we want to keep the game number, date, and time together, we will make a dataset with these values then convert into a dataframe.

In [13]:
# Compile the games dataset
games = {
    'Date': dates,
    'Time': times,
    'Event Name': event_names
}

# Create DataFrame
games_df = pd.DataFrame(games)

#Verify that all looks good!
games_df.head()

         Date      Time Event Name
0  2024-08-29  19:00:00     Game 1
1  2024-09-07  19:30:00     Game 2
2  2024-09-14  12:00:00     Game 3
3  2024-09-21  12:00:00     Game 4
4  2024-09-28  12:00:00     Game 5

Currently, we have one observation for each game; however, our goal is to simulate observations that represent someone purchasing tickets. To ensure we have a good mix of games in our dataset to align with ticket sales, we will create a dataset where we select observations from our games_df at random. Plus, as a bit of housekeeping, we will reset the index variable to create unique observation numbers.

In [14]:
# Create 1000 observations from the list of dates
#randomize = random.choices(data, k=1000)
full_games=games_df.sample(n=num_records, replace=True)
full_games.reset_index(drop=True, inplace=True)

To ensure a good distribution of games picked from our dataset, let's do a quick check on uniqueness.

In [15]:
full_games['Event Name'].value_counts()

Game 7     3
Game 4     2
Game 5     2
Game 13    2
Game 2     2
Game 3     2
Game 12    2
Game 8     1
Game 6     1
Game 1     1
Game 11    1
Game 9     1
Name: Event Name, dtype: int64

Already a story is coming to life, where some games have more people purchasing tickets!

Now time to compile the dataset for ticket sales and turn it into a dataframe.

In [16]:
# Compile the dataset
randomized = {
    'Seat Location': seat_location,
    'Ticket Price': np.round(ticket_prices, 2),
    'Number of Tickets': num_tickets,
    'Promotion': promotions
}

# Create DataFrame
sales_df = pd.DataFrame(randomized)

How do our two dataframes look? We need to combine them into a single dataset, so do a quick check on how they look individually first. Will our concatentation work?!

In [17]:
print(sales_df.head(10))
print(full_games.head(10))

  Seat Location  Ticket Price  Number of Tickets  Promotion
0    Upper Deck         25.32                  4          0
1           VIP        147.49                  4          0
2           VIP        150.91                  4          0
3    Upper Deck         29.77                  1          0
4           VIP        149.59                  1          0
5           VIP        142.58                  4          0
6           VIP        146.45                  7          0
7    Upper Deck         26.82                  4          0
8    Upper Deck         30.52                  6          0
9    Upper Deck         32.26                  6          0
         Date      Time Event Name
0  2024-09-21  12:00:00     Game 4
1  2024-10-12  20:00:00     Game 7
2  2024-10-19  15:30:00     Game 8
3  2024-09-28  12:00:00     Game 5
4  2024-12-07  12:00:00    Game 13
5  2024-10-05  12:00:00     Game 6
6  2024-08-29  19:00:00     Game 1
7  2024-09-07  19:30:00     Game 2
8  2024-09-28  12:00:00     Game 5
9  2024-09-14  12:00:00     Game 3

In [18]:
sales_df.describe()

       Ticket Price  Number of Tickets  Promotion
count     20.000000          20.000000  20.000000
mean      77.644500           4.150000   0.150000
std       55.152201           2.033276   0.366348
min       25.320000           1.000000   0.000000
25%       30.332500           3.000000   0.000000
50%       53.645000           4.000000   0.000000
75%      146.710000           6.000000   0.000000
max      152.830000           7.000000   1.000000

In [19]:
full_games.describe()

              Date      Time Event Name
count           20        20         20
unique          12         5         12
top     2024-10-12  12:00:00     Game 7
freq             3        10          3

Time to concatenate!! We truly want to just add the game information to each entry of the ticket sales, so there isn't a match condition - purely just smushing the two datasets together line by line!

In [21]:
# Concatenate horizontally
ticket_sales_df = pd.concat([full_games, sales_df], axis=1, ignore_index=True)  

# Let's see a snapshot of our final dataset!
print(ticket_sales_df)

             0         1        2           3       4  5  6
0   2024-09-21  12:00:00   Game 4  Upper Deck   25.32  4  0
1   2024-10-12  20:00:00   Game 7         VIP  147.49  4  0
2   2024-10-19  15:30:00   Game 8         VIP  150.91  4  0
3   2024-09-28  12:00:00   Game 5  Upper Deck   29.77  1  0
4   2024-12-07  12:00:00  Game 13         VIP  149.59  1  0
5   2024-10-05  12:00:00   Game 6         VIP  142.58  4  0
6   2024-08-29  19:00:00   Game 1         VIP  146.45  7  0
7   2024-09-07  19:30:00   Game 2  Upper Deck   26.82  4  0
8   2024-09-28  12:00:00   Game 5  Upper Deck   30.52  6  0
9   2024-09-14  12:00:00   Game 3  Upper Deck   32.26  6  0
10  2024-11-30  19:30:00  Game 12  Upper Deck   27.21  7  0
11  2024-09-07  19:30:00   Game 2  Upper Deck   39.64  5  1
12  2024-11-30  19:30:00  Game 12         VIP  149.47  4  0
13  2024-09-14  12:00:00   Game 3  Lower Bowl   67.65  3  1
14  2024-11-21  19:30:00  Game 11  Upper Deck   32.72  6  1
15  2024-11-02  12:00:00   Game 9  Upper Deck   33.53  5  0
16  2024-09-21  12:00:00   Game 4  Upper Deck   27.09  1  0
17  2024-12-07  12:00:00  Game 13  Lower Bowl   72.21  7  0
18  2024-10-12  20:00:00   Game 7  Lower Bowl   68.83  1  0
19  2024-10-12  20:00:00   Game 7         VIP  152.83  3  0

In [22]:
# Saving our dataset
ticket_sales_df.to_csv('ticket_sales.csv', index=False)